h1 {
    font-family: "Rubik Mono One", monospace;
    font-weight: 400;
    
}

.title-container {
    display: flex;
    justify-content: flex-start;
}

#title {
    width: 70px;
    font-size: 60px;
}

#green-flower {
    /* position: relative; */
    width: 120px;
    z-index: -1;
    margin-left: 207px;
    padding-bottom: 80px;
}

#yellow-flower {
    position: absolute;
    width: 120px;
    z-index: -1;
    margin-left: 65px;
    padding-top: 100px;
}

#prompt {
    width: 370px;
    padding-left: 100px;
    padding-top: 40px;
}

#input-text {
    
    width: 177px;
    height: 136px;
    border-radius: 5px;
    border: 1px solid #000;
    margin-left: 220px;
    margin-top: -60px;
    
}

.submission-container {
    
   display: flex;
   justify-content: flex-end;
   align-items: center;
   padding-right: 100px;

}

#submission {
    width: 500px;
    height: 500px; 
    display: flex;
    justify-content: center;
    align-items: center;
      
 border-radius: 1477px;
background: #D9D9D9;
}